<div class="container" style="background-size: cover;background-repeat: repeat-y;" [ngStyle]="{backgroundImage:'url(assets/image/Carousel_mobile_background_2.png)'}">
    <br>
    <p class="heading">About us</p>
    <p>Made with <mat-icon style="color: #e91e63;vertical-align: middle;">favorite</mat-icon> & Pride in india </p>
    <p><b>Who are we?</b></p>
    <p>We are a team of crazy, passionate and committed people who love to solve problems in fun and exciting ways. We believe problem-solving is not just a business or a painful experience but rather a beautiful and adventurous journey.
        We are excited and proud to call ourselves a made in India company.
    </p>
    <p><b>Mission Statement:</b></p>
    <p>
        "We believe that music connects everyone with love and empathy. 
        Everyone has the right to speak this language of love and happiness. We want to create a musical ecosystem such that no artist has to ever leave his passion and love for music while giving music lovers the best experience they can ever have."
    </p>
    <p>
        "We need you to make tremollo better and make our mission possible so that we can help many more such independent artists to make their dream of living the music a reality."
    </p>
    <p><b>You can always connect with us or give us your valuable feedback!</b></p>
    <p>
        If you care for a better service
        please do write to us at <span style="color: #e91e63;">feedback@tremollo.co</span>
    </p>
    <p>
        For any queries reach us out at  <span style="color: #e91e63;">support@tremollo.co</span>
    </p>
    <p style="color: #ff6090;">
        "Happy music-loving and sharing!" <br>
        "And yes we love you too :)"
    </p>
    <br>
    <br>
    <br>
</div>